.multiple_choice_checkbox input[type="checkbox"] {
  display: none; }

.multiple_choice_checkbox label {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: lightgray; }

.multiple_choice_checkbox input:checked + label {
  background: blue; }
