/* screen sizes */
/* transitions */
.portfolioItem {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  height: 100%;
  position: relative;
  padding: 300px 100px 30px 30px;
  color: white;
  background: #193fe2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .portfolioItem h2 {
    font-size: 2rem;
    font-weight: bold;
    transition: transform 500ms ease; }
  .portfolioItem .portfolioItemContent {
    position: relative;
    z-index: 1; }
    .portfolioItem .portfolioItemContent .iconAppear {
      display: flex;
      display: -webkit-flex;
      justify-content: flex-end;
      transform: translateX(-20px);
      position: absolute;
      left: 0px;
      right: auto;
      top: auto;
      bottom: 0px;
      opacity: 0;
      color: #ffc200;
      font-size: 50px;
      transition: transform 500ms ease, opacity 500ms ease; }
  .portfolioItem .portfolioImage {
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: top 500ms ease, bottom 500ms ease, left 500ms ease, right 500ms ease; }
    .portfolioItem .portfolioImage .imageOverlay {
      opacity: 0.15;
      transition: opacity 500ms ease; }
  @media screen and (max-width: 1280px) {
    .portfolioItem {
      padding: 200px 50px 30px 30px; } }
  @media screen and (max-width: 769px) {
    .portfolioItem {
      padding: 150px 50px 20px 20px; }
      .portfolioItem h2 {
        font-size: 1.5rem; } }

.portfolioItem:hover {
  color: white; }
  .portfolioItem:hover .portfolioImage {
    top: -20px;
    right: -20px;
    left: -20px;
    bottom: -20px; }
    .portfolioItem:hover .portfolioImage .imageOverlay {
      opacity: 0.4; }
  .portfolioItem:hover .portfolioItemContent h2 {
    transform: translateY(-50px); }
  .portfolioItem:hover .portfolioItemContent .iconAppear {
    transform: translateX(0px);
    opacity: 1; }
