/* screen sizes */
/* transitions */
header.navbar {
  top: 0;
  padding: 32px 0 5px 0;
  width: 100%;
  position: absolute;
  background: none; }

.navbar {
  background: none;
  background-color: none;
  color: white;
  transition: background 200ms ease, color 200ms ease, box-shadow 200ms ease; }
  .navbar .navbar-item, .navbar .navbar-link {
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 1.2rem; }
    .navbar .navbar-item .navbar-item-underline, .navbar .navbar-link .navbar-item-underline {
      position: absolute;
      padding: 0.5rem 1.2rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      display: -webkit-flex;
      align-items: flex-end;
      justify-content: center; }
      .navbar .navbar-item .navbar-item-underline *, .navbar .navbar-link .navbar-item-underline * {
        height: 2px;
        background: white;
        width: 0px;
        transition: width 300ms ease; }
  .navbar .navbar-item:hover, .navbar .navbar-link:hover {
    color: white; }
    .navbar .navbar-item:hover .navbar-item-underline *, .navbar .navbar-link:hover .navbar-item-underline * {
      width: 100%; }

.navbar-brand svg#Logo {
  fill: white;
  width: 350px;
  transition: fill 500ms ease, width 500ms ease; }
  @media screen and (max-width: 769px) {
    .navbar-brand svg#Logo {
      width: 200px; } }

.navbar.scrolled {
  top: 0;
  padding: 5px 0;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #131313;
  position: fixed; }
  .navbar.scrolled .navbar-item, .navbar.scrolled .navbar-link {
    color: #131313; }
  .navbar.scrolled .navbar-brand svg#Logo {
    fill: black; }
