@import './styles/partials/variables.scss';

.hero {
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.8rem;
    }
}

.hero.portfolioBanner {
    .title {
        font-size: 4rem;
        font-weight: 900;
    }
    .subtitle {
        font-size: 1.8rem;
    }
    .hero-body {
        padding-top: 14rem;
        padding-bottom: 10rem;
    }
    @media screen and (max-width: $desktop) {
        .container {
            margin: 0px;
        }    
    }
    @media screen and (max-width: $tablet) {
        .title {
            font-size: 2rem;
            font-weight: 900;
        }
        .subtitle {
            font-size: 1.2rem;
        }
        .hero-body {
            padding-top: 8rem;
            padding-bottom: 10rem;
        }
    }
}

.hero.curved {
    -webkit-clip-path: ellipse(80% 70% at 30% 25%);
    clip-path: ellipse(80% 70% at 30% 25%); 
    @media screen and (max-width: $tablet) {
        clip-path: ellipse(110% 70% at 30% 25%);
    }
}

.heroImage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.gradientOverlay {
    position: relative;
    .imageOverlay {
        opacity: 0.8;
        background: -webkit-linear-gradient((287deg, #0043ff -3%, rgba(255, 0, 108, .7)));
        background: -moz-linear-gradient((163deg, #0043ff -3%, rgba(255, 0, 108, .7)));
        background: -o-linear-gradient((163deg, #0043ff -3%, rgba(255, 0, 108, .7)));
        background: linear-gradient(163deg, #0043ff -3%, rgba(255, 0, 108, .7));
    }
}