@import "styles/partials/variables.scss";

html.menu-open {
    overflow: hidden;
}

header.navbar {
    position: relative;
    top: 0;
    padding: 32px 0 5px 0;
    width: 100%;
    position: absolute;
    background: none;
    @media (max-width: $tablet){
        padding-top: 0;
        padding-bottom: 0;
    }
}

.navbar {
    background: none;
    background-color: none;
    color: white;
    transition: background 200ms ease, color 200ms ease, box-shadow 200ms ease;

    .navbar-item, .navbar-link {
        color: white;
        font-size: 1.1rem;
        padding: 0.5rem 1.2rem;
        .navbar-item-underline {
            position: absolute;
            padding: 0.5rem 1.2rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            display: -webkit-flex;
            align-items: flex-end;
            justify-content: center;
            * {
                height: 2px;
                background: white;
                width: 0px;
                transition: width $transitionS $easing;
            }
        }
    }
    .navbar-item:hover, .navbar-link:hover {
        color: white;
        .navbar-item-underline {
            * {
                width: 100%;
            }
        }
    }
}
.navbar-brand {
    svg#Logo {
        fill: white;
        width: 350px;
        transition: fill $transitionL $easing, width $transitionL $easing;
        @media screen and (max-width: $tablet) {
            width: 200px;
        }
    }
}

.navbar.scrolled {
    top: 0;
    padding: 5px 0;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: $text;
    position: fixed;
    .navbar-item, .navbar-link {
        color: $text;
    }
    .navbar-brand {
        svg#Logo {
            fill: black;
        }
    }
    .navbar-burger {
        color: black;
    }
    @media(max-width: $tablet){
        padding: 0;
    }
}

.navbar-burger {
    @media (min-width: $tablet) {
        width: 4.4rem;
        span {
        left: 1.2rem;
        width: 2rem;
        height: 3px;
        }
        span:nth-child(1) {
            top: calc(50% - 10px)
        }
        span:nth-child(2) {
            top: calc(50%)
        }
        span:nth-child(3) {
            top: calc(50% + 10px)
        }
    }
    color: white;
}

// mobile menu

@media(max-width: $desktop){
    .navbar-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        right: auto;
        bottom: 0;
        width: 300px;
        overflow-y: scroll;
        transition: left 300ms ease;
        z-index: 100;
        .navbar-item {
            color: $text;
        }
        .navbar-item:hover {
            color: $text;
        }
        @media (max-width: 425px) {
            width: 225px;
        }
    }
    .navbar-menu.active {
        left: 0;
    }
    .dark-screen-overlay {
        display: block;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -100;
        background: black;
        transition: z-index 300ms ease, opacity 300ms ease;
    }

    .dark-screen-overlay.active {
        position: fixed;
        z-index: 50;
        opacity: 0.8;
        cursor: pointer;
    }
}