header.navbar {
    top: 0;
    padding: 32px 0 5px 0;
    width: 100%;
    position: absolute;
    background: none;
}

.navbar {
    background: none;
    background-color: none;
    color: white;
    transition: background 200ms ease, color 200ms ease, box-shadow 200ms ease;

    .navbar-item, .navbar-link {
        color: white;
        font-size: 1.1rem;
        padding: 0.5rem 1.2rem;
        .navbar-item-underline {
            position: absolute;
            padding: 0.5rem 1.2rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            display: -webkit-flex;
            align-items: flex-end;
            justify-content: center;
            * {
                height: 2px;
                background: white;
                width: 0px;
                transition: width $transitionS $easing;
            }
        }
    }
    .navbar-item:hover, .navbar-link:hover {
        color: white;
        .navbar-item-underline {
            * {
                width: 100%;
            }
        }
    }
}
.navbar-brand {
    svg#Logo {
        fill: white;
        width: 350px;
        transition: fill $transitionL $easing, width $transitionL $easing;
        @media screen and (max-width: $tablet) {
            width: 200px;
        }
    }
}

.navbar.scrolled {
    top: 0;
    padding: 5px 0;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: $text;
    position: fixed;
    .navbar-item, .navbar-link {
        color: $text;
    }
    .navbar-brand {
        svg#Logo {
            fill: black;
        }
    }
}