<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WKVJ5DK');</script>
    <!-- End Google Tag Manager -->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="{{ $.Site.Params.cloudinaryBase }}w_36,h_36,c_fit{{ $.Site.Data.settings.media.favicon }}">
    {{ block "seo" . }}
        <!-- meta tags for google and other search engines -->
        <title>
            {{- if .Params.seo.title -}}
                {{- .Params.seo.title -}}
            {{- else -}}
                {{- .Title }} | {{ .Site.Title -}}
            {{- end -}}
        </title>
        <meta name="description" content="
            {{- if .Params.seo.description -}}
                {{- .Params.seo.description | plainify -}}
            {{- else if .Description -}}
                {{- $desc := .Description | markdownify -}}
                {{- $desc | plainify -}}
            {{- else -}}
                {{- .Summary | truncate 200 -}}
            {{- end -}}">
        <!-- open graph tags for FB and reddit -->
        <meta property="og:title" content="
            {{- if .Params.seo.social_title -}}
                {{- .Params.seo.social_title -}}
            {{- else if .Params.seo.title -}}
                {{- .Params.seo.title -}}
            {{- else -}}
                {{- .Title -}}
            {{- end -}}">
        <meta property="og:description" content="
            {{- if .Params.seo.social_description -}}
                {{- .Params.seo.social_description | truncate 300 -}}
            {{- else if .Params.seo.description -}}
                {{- .Params.seo.description | plainify | truncate 300 -}}
            {{- else if .Description -}}
                {{- $desc := .Description | markdownify -}}
                {{- $desc | plainify | truncate 300 -}}
            {{- else -}}{{- .Summary | truncate 300 -}}{{- end -}}">
        <meta property="og:image" content="
            {{- if .Params.seo.social_image -}}
                {{- $.Site.Params.cloudinaryBase -}}w_1200,h_1200,q_80,f_auto,c_fill{{- .Params.seo.social_image -}}
            {{- else if .Params.featured_image -}}
                {{- $.Site.Params.cloudinaryBase -}}w_1200,h_1200,q_80,f_auto,c_fill{{- .Params.featured_image -}}
            {{- end -}}">
        <meta property="og:url" content="https://www.modiimedia.com{{ .RelPermalink }}">
        <!-- twitter cards for twitter -->
        <meta name="twitter:title" content="
            {{- if .Params.seo.social_title -}}
                {{- .Params.seo.social_title -}}
            {{- else if .Params.seo.title -}}
                {{- .Params.seo.title -}}
            {{- else -}}
                {{- .Title -}}
            {{- end -}}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@modiimedia">
        <meta name="twitter:description" content="
        {{- if .Params.seo.social_description -}}
            {{- .Params.seo.social_description | truncate 300 -}}
        {{- else if .Params.seo.description -}}
            {{- .Params.seo.description | plainify | truncate 300 -}}
        {{- else if .Description -}}
            {{- $desc := .Description | markdownify -}}
            {{- $desc | plainify | truncate 300 -}}
        {{- else -}}{{- .Summary | truncate 300 -}}{{- end -}}">
        <meta name="twitter:image" content="
        {{- if .Params.seo.social_image -}}
            {{- $.Site.Params.cloudinaryBase -}}w_1200,h_1200,q_80,f_auto,c_fill{{- .Params.seo.social_image -}}
        {{- else if .Params.featured_image -}}
            {{- $.Site.Params.cloudinaryBase -}}w_1200,h_1200,q_80,f_auto,c_fill{{- .Params.featured_image -}}
        {{- end -}}">
    {{ end }}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKVJ5DK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ partial "navbar.html" . }}
    
    {{ block "main" . }}

    {{ end }}

    {{ partial "footer.html" . }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/js/nav.js"></script>
    {{ block "addscripts" . }}{{ end }}
</body>
</html>