{{ define "main" }}
<section class="hero is-fullheight is-dark">
    <div class="hero-body is-flex align-bottom">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="subtitle">SOGMI.org</div>
                    <h1 class="projectTitle">{{ .Title }}</h1>
                </div>
                <div class="column">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                    <h2 class="has-text-weight-bold">Client</h2>
            </div>
            <div class="column">
                <h2 class="title">Client</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At nostrum laborum architecto totam fugit odio accusamus dolor tempore repellat repellendus fugiat, saepe recusandae iusto est quas, atque nulla labore omnis!</p>
            </div>
        </div>
    </div>
</section>
{{ end }}