<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                {{ $.Site.Data.settings.media.logo | safeHTML }}
            </div>
            <div class="column text-align-right">
                <div class="footer-nav">
                    <a class="nav-item">Home</a>
                    <a class="nav-item">Portfolio</a>
                    <a class="nav-item">Contact Us</a>
                </div>
                <div class="footer-icons">
                    <a class="icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            Copyright {{ now.Format "2006" }} Modii
        </div>
    </div>
</footer>