<header class="navbar is-transparent has-text-white">
    <nav class="container">
        <div class="navbar-brand">
                <a class="navbar-item" href="/">
                {{ $.Site.Data.settings.media.logo | safeHTML }}
                </a>
                <div class="navbar-burger burger" data-target="navbar-mobile-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </div>
        <div id="m-nav-background" class="navbar-close dark-screen-overlay"></div>
        <div id="navbar-mobile-menu" class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    <div>Home</div>
                    <div class="navbar-item-underline">
                        <div></div>
                    </div>
                </a>
                <!-- <a class="navbar-item" href="/portfolio">
                    Portfolio
                    <div class="navbar-item-underline">
                        <div></div>
                    </div>
                </a> -->
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-info wide-padding has-text-grey-dark" href="/contact">
                                <span class="icon">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span>Contact Us</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>