{{ define "main" }}
<section class="hero is-dark is-large is-bold homepage">
    <!-- <div class="heroImage gradientOverlay" style="background-image:url(https://images.unsplash.com/photo-1527664557558-a2b352fcf203)">
        <div class="imageOverlay"></div>
    </div> -->
    <div class="heroImage" id="particle-up"></div>
    <div class="hero-body">
        <div class="container">
          <div class="columns is-desktop">
            <div class="column is-two-thirds-desktop">
                <div class="content" style="margin-left: 0">
                    <h1 class="title">MODERN SOLUTIONS FOR YOUR BRAND</h1>
                    <p class="Subtitle">Modii is a full service media and design company based out of San Antonio, Texas. We offer complete solutions</p>
                    <a class="button is-large is-ghost-light" href="/portfolio">View Our Work</a><a href="/contact" class="button is-info is-large has-text-grey-dark"><strong>Get A Quote</strong></a>  
                </div>      
            </div>
            <div class="column">

            </div>            
          </div>
        </div>
    </div>
</section>
<section class="section homepage-columns">
    <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <img src="https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
          </div>
          <div class="column is-three-fifths">
            <div class="content right">
              <div class="rounded-line"></div>
              <h2>Digital Design & Development</h2>
              <p>Does your company need a new website or web app? What about digital signage? Modii can handle all of your digital design & development needs. We produce quality results that are scalable and secure.</p>
              <div class="content-gray-background"></div>
            </div>
          </div>
        </div>
    </div>
</section>
<section class="section homepage-columns">
    <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-three-fifths">
            <div class="content left">
              <div class="rounded-line"></div>
              <h2>Media Production</h2>
              <p>Let Modii handle your media production needs. Whether you need to produce an online ad, television commercial, or radio spot, we got you covered. From concept to delivery we'll be with you every step of the way.</p>  
              <div class="content-gray-background"></div>
            </div>
          </div>
          <div class="column">
              <img src="https://images.unsplash.com/photo-1485662765173-b710c399cd34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1371&q=80">
          </div>
        </div>
    </div>
</section>
<section class="section homepage-columns">
    <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <img src="https://codecondo.com/wp-content/uploads/2017/10/Business-Card-Designs.jpg">
          </div>
          <div class="column is-three-fifths">
            <div class="content right">
              <div class="rounded-line"></div>
              <h2>Graphic Design & Branding</h2>
              <p>Does your company need a new website or web app? What about digital signage? Modii can handle all of your digital design & development needs. We produce quality results that are scalable and secure.</p>
              <div class="content-gray-background"></div>
            </div>
          </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript">
    particlesJS("particle-up", {
      "particles": {
        "number": {
          "value": 120,
          "density": {
            "enable": true,
            "value_area": 1200
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          }
        },
        "opacity": {
          "value": 0.3,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 40,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": false,
          "distance": 96.14383117143238,
          "color": "#ffffff",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 0.3,
          "direction": "top",
          "random": true,
          "straight": false,
          "out_mode": "out",
          "bounce": true,
          "attract": {
            "enable": true,
            "rotateX": 961.4383117143238,
            "rotateY": 1281.9177489524316
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "repulse"
          },
          "onclick": {
            "enable": true,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 400,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    });var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
</script>
{{ end }}