{{ define "main" }}
<section class="hero is-primary is-large is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-weight-bold">Powerful Solutions for Your Brand</h1>
            <h2 class="Subtitle">Modii is a full service media and design company based out of San Antonio, Texas. We offer complete solutions</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Input">
            </div>
        </div>
        <div class="field">
            <p class="control">
                <span class="select">
                    <select>
                        <option>Select dropdown</option>
                    </select>
                </span>
            </p>
        </div>
        <div class="buttons">
            <a class="button is-primary">Primary</a>
            <a class="button is-link">Link</a>
        </div>
    </div>
</section>
{{ end }}